CursoBizTalk.ConsumoServicios.Esquemas/CuentaReqJSON.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://CursoBizTalk.ConsumoServicios.Esquemas.CuentaReqJSON" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JSONCuentaReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Apellido" type="xs:string" />
        <xs:element minOccurs="0" name="TipoDocumento" type="xs:string" />
        <xs:element minOccurs="0" name="NumeroDocumento" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>